//font variables
$xxl-font3: 8rem;
$xxl-font2: 6rem;
$xxl-font: 4rem;
$xl-font: 3rem;
$lg-font: 2.25rem;
$md-font: 1.5rem;
$sm-font: 1rem;
$xs-font: 0.5rem;
$xxs-font: 0.81rem;
$extra-font: 1.25rem;
$extra-font2: 2rem;

//color variables
$primary-color: #0f0d0d;
$secondary-color: #e7992a;
$white-color: #ffffff;
$opening-font-color: #462f2f;
$background-color: #fffafa;
$gray2: #c0c0c0;

//DISREGARD
$bg-color: #e5e5e5;
$bg-color2: #f2f2f2;
$black-color1: #2c2a2a;
$black-color2: #1b1919;
$light-gray: #e7e7e7;
$warning-color: #e97316;
$error-color: #ef444a;
$success-color: #22c55e;
