.btn {
  @include flexInlineCenter;
  border-radius: 20px;
  border: 1px solid $secondary-color;
  color: $white-color;
  padding: $xxs-font $xxs-font;
  background-color: $primary-color;
  text-transform: capitalize;
  font-size: $sm-font;
  cursor: pointer;
}
